body {
    background-image: url('../../img/fondo.webp');
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

.textos_login {
    font-size: large;
}
/* Estilo para el botón y su interacción */
.boton {
    border: none; 
    color: black; 
    padding: 15px;
    cursor: pointer; 
    border-radius: 5px;
    font-size: large;
    width: 100%;
    display: block;
    margin-bottom: 5px;
    
}

.primary {background-color: white; border: 2px solid rgb(104, 3, 124);} 
.primary:hover {background: rgb(104, 3, 124); color: white;}