body{
    background-image: url('../../public/img/imagen.jpg');
    background-size: 100vw 100vh;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    background-attachment: fixed;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 30px;
    color:rgb(0, 0, 0);
}
.campo_texto {
    padding: 30px;
    width: 85%;
    margin: auto 0 auto 0px;
}
.textos {
    font-size: 22px;
    margin: auto 0 auto 6px;
}
.boton {
    border: none; 
    color: rgb(255, 255, 255); 
    padding: 15px;
    cursor: pointer; 
    border-radius: 5px;
    font-size: large;
    width: 100%;
    display: block;
    margin-bottom: 5px;
    border-radius: 12px;
    margin: 0 auto;
    
}
.primary {background-color: rgb(124, 3, 41); border: 2px solid rgb(104, 3, 124);} 
.primary:hover {background: rgb(104, 3, 124); color: rgb(255, 255, 255);}